[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
pbpstats = "*"
nba-api = "*"
nba-stats-tracking = "*"
jinja2 = "*"
seaborn = "*"
tqdm = "*"
adjusttext = "*"
plotly = "*"
jupyter-dash = "*"
ipywidgets = "*"
kaleido = "*"
sportsipy = "*"


[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
